@import "tailwindcss";

@theme {
  --color-brand-50: #f5f2ff;
  --color-brand-100: #ece8ff;
  --color-brand-200: #dbd4ff;
  --color-brand-300: #c2b1ff;
  --color-brand-400: #a385ff;
  --color-brand-500: #8a58ff;
  --color-brand-600: #7830f7;
  --color-brand-700: #6a1ee3;
  --color-brand-800: #5818bf;
  --color-brand-900: #49169c;
  --color-brand-950: #2c0b6a;
  
  --color-brand: var(--color-brand-500);
  --color-brand-hover: var(--color-brand-600);
}
